@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a, a:hover, a:focus{
    text-decoration: none;
    outline: none;
}

li{
    list-style: none;
}

.header{
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
}
.header_logo{
    padding: 26px 0px;
    text-align: center;
}
.header_logo a {
    display: inline-block;
    color: #000;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    
}

.header_logo a span {
    color: #ffc300;
    font-weight: 700;
    font-size: 32px;
}
.header_menu{
    padding: 30px 0 27px;
    text-align: center;
}
.header_menu ul li {
    position: relative;
    display: inline-block;
    margin-right: 40px;
}
.header_menu ul li a{
    color: #000;
    font-size: 17px;
    font-weight: 500;
    display: block;
    padding: 2px 0;
    position: relative;
}
.header_menu ul li a::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffc300;
    transition: all .5s;
    transform: scale(0);
}
.header_menu ul li:hover a::after{
    transform: scale(1);
}
.header_menu ul li.active a::after{
    transform: scale(1);
}
.header_right{
    text-align: center;
    padding: 30px 0 27px;
}
.header_right .header_right_aut{
    display: inline-block;
    margin-right: 25px ;
}
.header_right .header_right_aut a{
    font-size: 17px;
    position: relative;
    margin-right: 13px;
    padding: 10px 25px;
    border-radius: 3px;
} 
.bt_login{
    color: #ffc300;
    border: #ffc300 solid 1px;
    transition: .3s;
}
.bt_login:hover{
    color: #000;
    background-color:  #ffc300;
}
.bt_register{
    color: #000;
    background-color:  #ffc300;
    transition: .3s;
    border: #ffc300 solid 1px;
}
.bt_register:hover{
    color: #ffc300;
    border: #ffc300 solid 1px;
    background-color:  #fff;
}
.categories{
    position: relative;
    overflow: hidden;
}
.categories .catigories_item{
    position: relative;
    height: 314px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}
.categories .catigories_large_item{
    height: 638px;
}
.categories .categories_text {
    position: absolute;
    left: 50px;
}
.categories .catigories_large_item .categories_text{
    position: absolute;
    left: 50px;
    max-width: 300px;
}
.categories .catigories_large_item .categories_text a  {
    margin-bottom: 15px;
}
.categories .categories_text h1 {
    color: #000;
    margin-bottom: 5px;
}
.categories .categories_text p {
    margin-bottom: 10px;
}
.categories .categories_text a {
    color: #ffc300;
    background-color: #000;
    padding: 10px 25px;
    border-radius: 3px;
    transition: .3s;
}
.categories .categories_text a:hover{
    color: #000 ;
    background-color: #ffc300;
}
.categories .categories_text h4 {
    font-weight: 700;
}
.product{
    padding: 60px;
    padding-bottom: 50px;
}
.product .section-title{
    margin-bottom: 45px;
}

.product .section-title h4{
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    color: #ffc300;
}

/* -_-_-_-_-_-_-_-_-__-_-_-_-_-_-_-_-_-_-_-_- */
/* -_-_-_-_-_-_-_-_-__-_-_-_-_-_-_-_-_-_-_-_- */
/* -_-_-_-_-_-_-_-_-__-_-_-_-_-_-_-_-_-_-_-_- */
/* -_-_-_-_-_-_-_-_-__-_-_-_-_-_-_-_-_-_-_-_- */

.text-center h4 {
    position:absolute;
    z-index:999;
    color:#fff;
  }
  .text-center:before {
    content:'';
    background:#000;
    width:228px;
    height:46px;
    display:block;
    position:absolute;
    top:0;left:0;right:0;bottom:1;
    margin:auto;
    
    animation:2s text-centerBefore infinite ease-in-out;
  }
  
  @keyframes text-centerBefore {
    0%   {transform:translateX(-14px);}
    50%  {transform:translateX(14px);}
    100% {transform:translateX(-14px);}
  }
  
  
  .text-center:after {
    content:'';
    background:#fff;
    width:14px;
    height:45px;
    display:block;
    position:absolute;
    top:0;left:0;right:0;bottom:1;
    margin:auto;
    opacity:.5;
    
    animation:2s text-centerAfter infinite ease-in-out;
  }
  
  @keyframes text-centerAfter {
    0%   {transform:translateX(-50px);}
    50%  {transform:translateX(50px);}
    100% {transform:translateX(-50px);}
  }
.product_item{
    margin-bottom: 35px;
}
.product_item_pic{
    height: 360px;
    position: relative;
    overflow: hidden;
    margin: 25px;
}
.product_item_pic .label{
    position: absolute;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 2px 8px;
    text-transform: uppercase;
    left: 10px;
    top: 10px;
}

.product_item_pic .label.new{
    background-color: #ffc300;
}
.product_item_text{
    text-align: center;
    padding: 22px;
}
.product_item_text h6 a{
    font-size: 14px;
    color: #000;
}
.product_item_text .rating{
    line-height: 18px;
    margin-bottom: 5px;
}
.product_item_text .rating i{
    font-size: 10px;
    color: #ffc300;
    margin-right: -4px;
}
.product_item_text .rating i:last-child{
    margin-right: 0px;
}
.product_item_text .product_price{
    color: #000;
    font-weight: 600;
}
.product_hover{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 30px;
    text-align: center;
}

.product_hover li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 100px;
    opacity: 0;
}
.product_hover li:last-child{
    margin-right: 0;
}
.product_hover li:hover a{
    background-color: #ffc300;
}
.product_hover li:hover a i{
    color: #fff;
    transform: rotate(360deg);
}
.product_hover li a{
    font-size: 18px;
    color: #000;
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    list-style: 48px;
    border-radius: 50px;
    box-shadow: 0 0 25px rgba(24, 24, 24, 0.4);
    transition: all 0.5s;
}
.product_hover li a i {
    position: relative;
    display: inline-block;
    transform: rotate(0);
    transition: all .3s;
}

.product_item:hover .product_hover li{
    opacity: 1;
    top: 0;
}
.product_hover li:nth-child(1){
    transition: all .4s ease 0.1s;
}
.product_hover li:nth-child(2){
    transition: all .4s ease 0.15s;
}
.product_hover li:nth-child(3){
    transition: all .4s ease 0.2s;
}

.product_hover li:nth-child(4){
    transition: all .4s ease 0.25s;
}
.product_price .old_price {
    font-size: 14px;
    color: #b1b0b0;
    text-decoration: line-through;
    margin-left: 4px;
    
}

.banner{
    position: relative;
    height: 500px;
}
.banner.bg-img{
    background-image: url(images/banner/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



/* ######################################################## */


.single {
    padding: 30px 15px;
    margin-top: 40px;
    background: #fcfcfc;
    text-align: center;
    border: 1px solid #f0f0f0; }
    .single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase; }
    
    .single ul {
    margin-bottom: 0; }
    .single li a {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none; }
    .single li a:hover {
    color: #ffc300; }
    .single li:last-child a {
    border-bottom: 0; }

    .list_unstyled{
        background-color: #ffc300;
        border: none;
        padding: 10px 20px;
    }
    .option{
        background-color: #ffc300;
        border: none;
        padding: 10px 20px;
    }
    .category_product{
        display: flex;
    }
    .buttons{
        display: flex;
        justify-content: center;
    }

.product_item_pic img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.list-group-item{
    color: #000;
    width: auto;
}
.list-group-item:hover{
    color: #ffc300;
}
.cards{
    width: 100%;
}

.product_item{
    width: 30%;
}


.product{
    margin: auto;
    width: 70%;
}
.list_dashboard{
    margin-top: 40px;

}
.list_dashboard a:hover{
    color: #ffc300;
}
.shop{
    color: #000;
    padding: 0 20px;

}
.shop:hover{
    color: #ffc300;
}





/* ############################################################################ */


@media only screen and (max-width: 768px) {
    .product_item{
        width: 50%;
    }
    .product{
        margin: auto;
        width: auto;
    }
    
    
  }

  @media only screen and (max-width: 600px) {
    .product_item{
        width: auto;
    }
    .product{
        margin: auto;
        width:auto;
    }
    
  }
